JMB_DFDL/REQCAC.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="REQCAC">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:initiator="UNH" name="Header">
					<xsd:complexType>
						<xsd:sequence dfdl:initiatedContent="yes" dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="anyEmpty">
							<xsd:element dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="head_value1" name="Values" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:initiator="RPD" maxOccurs="unbounded" name="RPD">
					<xsd:complexType>
						<xsd:sequence dfdl:initiatedContent="yes" dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="anyEmpty" dfdl:terminator="">
							<xsd:element dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="body_value1" name="BodyValues" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:initiator="NPD" maxOccurs="unbounded" minOccurs="0" name="NPD">
                    <xsd:complexType>
                        <xsd:sequence dfdl:initiatedContent="yes" dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="anyEmpty" dfdl:terminator="">
                            <xsd:element default="body_value1" dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="body_value1" name="BodyValues" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element dfdl:initiator="RAC" name="RAC">
                    <xsd:complexType>
                        <xsd:sequence dfdl:separator="%#124;">
                            <xsd:element dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="body_value2" name="RACValues" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element dfdl:initiator="CAC" maxOccurs="unbounded" name="CAC">
                    <xsd:complexType>
                        <xsd:sequence dfdl:separator="">
                            <xsd:element dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="body_value3" maxOccurs="unbounded" name="CACValues" type="xsd:string"/>
               <xsd:element dfdl:initiator="COM" maxOccurs="unbounded" name="COM">
                <xsd:complexType>
                  <xsd:sequence dfdl:separator="">
                    <xsd:element dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="body_value4" maxOccurs="unbounded" name="COMValues" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
                       <xsd:element dfdl:initiator="CNT" maxOccurs="unbounded" name="CNT">
                <xsd:complexType>
                  <xsd:sequence dfdl:separator="">
                    <xsd:element dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="body_value5" maxOccurs="unbounded" name="CNTValues" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
                       
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
									<xsd:element dfdl:initiator="UNT" dfdl:outputNewLine="%CR;%LF;" name="trailer">
					<xsd:complexType>
						<xsd:sequence dfdl:initiatedContent="yes" dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="anyEmpty">
							<xsd:element dfdl:initiator="%GS;" dfdl:terminator="%CR;%LF;" ibmDfdlExtn:sampleValue="trailer_value1" name="Trailvalues" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>