JMB_DFDL/jmb/MMDVRO.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="../IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="MMDVRO">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:initiator="UNH%GS;" dfdl:terminator="" minOccurs="0" name="UNH">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="DocumentType" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="DocumentName" type="xsd:string"/>
                            						<xsd:element minOccurs="0" name="DocumentNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="CommonRefNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="MessageType" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="SenderID" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			<xsd:element dfdl:initiator="RPD%GS;" dfdl:terminator="" minOccurs="0" name="RPD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" name="RecipientsID" type="xsd:string"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="NPD%GS;" dfdl:terminator="" minOccurs="0" name="NPD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" name="NotifyPartyIDs" type="xsd:string"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="VRO%GS;" dfdl:terminator="" minOccurs="0" name="VRO">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="IMONumber" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="VesselName" type="xsd:string"/>
                            						<xsd:element minOccurs="0" name="AgeOfVessel" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ClassificationSociety" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="FlagState" type="xsd:string"/>
							<xsd:element minOccurs="0" name="PortOfRegistry" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="MasterName" type="xsd:string"/>
							<xsd:element minOccurs="0" name="CurrentPort" type="xsd:string"/>
							<xsd:element minOccurs="0" name="InspectionType" type="xsd:string"/>
							<xsd:element minOccurs="0" name="InspectionDate" type="xsd:date"/>
							<xsd:element minOccurs="0" name="InspectingAuthority" nillable="false" type="xsd:string"/>
							<xsd:element minOccurs="0" name="MMDOfficeLocation" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ReportedDeficiency" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Category" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="DetentionOrderNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="DetentionOrderDate" type="xsd:date"/>
                            <xsd:element minOccurs="0" name="DetentionPort" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="DetentionPeriod" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ReleaseOrderNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ReleaseOrderDate" type="xsd:date"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="UNT%GS;" dfdl:terminator="" minOccurs="0" name="UNT">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element dfdl:calendarPattern="ddMMyyyyhhmmss" dfdl:calendarPatternKind="explicit" name="IssuedDateTime" type="xsd:string"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>